<template>
    <el-dialog :title="title" :visible.sync="visible" :fullscreen.sync="fullscreen">
        <span slot="title" class="el-dialog__title">
          {{title}}
          <i class="el-icon-full-screen el-dialog__headerbtn" @click="toggleFullscreen" style="margin-top: 2px; margin-right: 30px"></i>
        </span>
        <avue-form
            ref="avueForm"
            v-model="model"
            :option="addOption"
            @submit="dataFormSubmit"
        >
        </avue-form>
    </el-dialog>
</template>

<script>
    import { addObj } from '@/api/${pathName}'
    import { mapGetters } from "vuex";

    export default {
        name: '${pathName}AddForm',
        props: {},
        data() {
            return {
                fullscreen: false,
                title: '新建',
                visible: false,
                addOption: {},
                model: {}
            }
        },
        computed: {
            ...mapGetters(['userInfo']),
        },
        created () {
            console.log('${pathName}AddForm created')
        },
        methods: {
            toggleFullscreen() {
                this.fullscreen = !this.fullscreen
            },
            init (addOption) {
                this.model = {}
                this.addOption = addOption
                this.visible = true
            },
            emptytFormData () {
                this.$refs.avueForm.resetForm();
            },
            async dataFormSubmit (form, done) {
                this.$message.info('正在提交');
                console.log('form->', JSON.stringify(form));
                formData.createUserName = this.userInfo.username;
                formData.createUserId = this.userInfo.userId;
                const { resData, code, message } = await addObj(formData);
                if (code == 0) {
                    done();
                    this.visible = false
                    this.$emit("saveSucess", resData);
                } else {
                    done();
                    this.$message.error(message);
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
</style>
