import request from '@/router/axios'

export function page(query) {
  var params = { ...query, filter: query }
  delete params['filter']['current']
  delete params['filter']['size']
  return request({
    url: '/${moduleName}/${pathName}/page',
    method: 'get',
    params: params
  })
}

export function list (query,model) {
  return request({
    url: '/${moduleName}/${pathName}/list',
    method: 'get',
    params: { filter: query }
  })
}

export function addObj(obj) {
  return request({
    url: '/${moduleName}/${pathName}',
    method: 'post',
    data: obj
  })
}

export function getObj(id) {
  return request({
    url: '/${moduleName}/${pathName}/' + id,
    method: 'get'
  })
}

export function delObj(id) {
  return request({
    url: '/${moduleName}/${pathName}/' + id,
    method: 'delete'
  })
}

export function putObj(obj) {
  return request({
    url: '/${moduleName}/${pathName}',
    method: 'put',
    data: obj
  })
}
